*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 80%;
    margin-right: 10%;
    margin-left: 20%;
    margin-top: 10%; 
    margin-bottom: 10%;
}
table{ 
    width: 60%;
    font-family: sans-serif;
}
th{
    background-color: rgba(118, 142, 209, 0.925);
    color: white;
}
tr:nth-child(even){
    background-color: rgb(224, 224, 240);
}
tr:nth-child(odd){
    background-color: #eee;
}
table, td, th{
    border: 1px solid white;
    padding: 2%;
    border-collapse: collapse;
    text-align: center;
}

.cross{
    border-radius: 50%;
    background: red;
    color: white;
    font-weight: bold;
    padding: 6px;
    }
.tick{
    background: rgb(90, 190, 90);
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    outline: 2px solid rgb(90, 190, 90);
    padding: 4px;
}
